form {
	text-align: center;
	
	width: 450px;
	height: 500px;
	padding: 20px;
	background-color: darkviolet;
	border-radius: 11px;
}
body {
	background-color: steelblue;
}

h1 {
	color: black;
	background-color: yellow;
	padding: 14px;
	width: 100%;
	border-radius: 14px;
}

input {
	border-radius: 7px;
	font-weight: bold;
	padding: 8px;
	border: none;
}

button {
	padding: 8px;
	border-radius: 8px;
	border: none;
	color: green;
	font-weight: bold;
	background-color: yellow;
	font-size: 15px;
}